[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "ChainLadder"]
	path = ChainLadder
	url = https://github.com/mages/chainladder
[submodule "googleVis"]
	path = googleVis
	url = https://github.com/mages/googlevis
